@font-face {
    font-family: iranyekan_black;
    src: url('../font/iranyekanwebblackfanum.eot');
    src: url('../font/iranyekanwebblackfanum.eot?#iefix') format('iranyekanwebblackfanum-opentype'), url('../font/iranyekanwebblackfanum.woff') format('woff'), url('../font/iranyekanwebblackfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranyekan_bold;
    src: url('../font/iranyekanwebboldfanum.eot');
    src: url('../font/iranyekanwebboldfanum.eot?#iefix') format('iranyekanwebboldfanum-opentype'), url('../font/iranyekanwebboldfanum.woff') format('woff'), url('../font/iranyekanwebboldfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranyekan_extrablack;
    src: url('../font/iranyekanwebextrablackfanum.eot');
    src: url('../font/iranyekanwebextrablackfanum.eot?#iefix') format('iranyekanwebextrablackfanum-opentype'), url('../font/iranyekanwebextrablackfanum.woff') format('woff'), url('../font/iranyekanwebextrablackfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranyekan_extrabold;
    src: url('../font/iranyekanwebextraboldfanum.eot');
    src: url('../font/iranyekanwebextraboldfanum.eot?#iefix') format('iranyekanwebextraboldfanum-opentype'), url('../font/iranyekanwebextraboldfanum.woff') format('woff'), url('../font/iranyekanwebextraboldfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranyekan_light;
    src: url('../font/iranyekanweblightfanum.eot');
    src: url('../font/iranyekanweblightfanum.eot?#iefix') format('iranyekanweblightfanum-opentype'), url('../font/iranyekanweblightfanum.woff') format('woff'), url('../font/iranyekanweblightfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranyekan_medium;
    src: url('../font/iranyekanwebmediumfanum.eot');
    src: url('../font/iranyekanwebmediumfanum.eot?#iefix') format('iranyekanwebmediumfanum-opentype'), url('../font/iranyekanwebmediumfanum.woff') format('woff'), url('../font/iranyekanwebmediumfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranyekan_regular;
    src: url('../font/iranyekanwebregularfanum.eot');
    src: url('../font/iranyekanwebregularfanum.eot?#iefix') format('iranyekanwebregularfanum-opentype'), url('../font/iranyekanwebregularfanum.woff') format('woff'), url('../font/iranyekanwebregularfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iranyekan_thin;
    src: url('../font/iranyekanwebthinfanum.eot');
    src: url('../font/iranyekanwebthinfanum.eot?#iefix') format('iranyekanwebthinfanum.-opentype'), url('../font/iranyekanwebthinfanum.woff') format('woff'), url('../font/iranyekanwebthinfanum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}