/* header */

.main__header {
    background-color: #F8F8F8;
    border-radius: 0 0 0 20%;
    -webkit-border-radius: 0 0 0 20%;
    -moz-border-radius: 0 0 0 20%;
    -ms-border-radius: 0 0 0 20%;
    -o-border-radius: 0 0 0 20%;
    height: 700px;
    width: 100%;
}


/* logo */

.logo img {
    width: 120px;
}

.main__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__authentication {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.main__header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search span {
    border-left: 2px solid #BCBEC0;
    padding-left: 20px;
}

.singIn span {
    border-left: 2px solid #BCBEC0;
    padding-left: 40px;
}

.main__authentication section {
    padding: 0 30px;
}

.menu {
    background-color: #fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 100%;
}

.menu ul {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-around;
}

.menu ul li img {
    vertical-align: middle;
    width: 22px;
    cursor: pointer;
    margin-left: 10px;
}

.menu ul li a {
    padding: 10px 7px;
}

.main__text__header h1 {
    color: #9932CC;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.main__train__search {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.main__train__search input {
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.main__train__search button {
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 10px;
}


/* hero paragraph */

.main__paragraph__hero {
    display: flex;
    flex-direction: column;
}


/* hero image style */

.hero__img img {
    width: 600px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 78px;
}


/* mainContainer */

.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}